body {
  background-color: rgba(5, 5, 5, 0.5);
}

nav {

}

li {
}

.container {
  height: 100%;
  display: grid;
  grid-template: 40px auto 40px / repeat(12, 1fr);
  /* grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 2% auto 2%; */
  grid-gap: 0.5rem;
  /* grid-template-areas:
    "h h h h h h h h h h h h"
    "m m c c c c c c c c c c"
    "f f f f f f f f f f f f"; */
}

header {
  grid-column: 1 / -1;
  /* grid-area: h; */
  background-color: blue;
}

main {
  grid-column: 1 / -1;
  background-color: red;
}

footer {
  grid-column: 1 / -1;
  background-color: yellow;
}

aside {
  display: none;
}

nav:after {
  content: ' - 480px (mobile)';
}

@media screen and (min-width: 481px) {
  header {
    grid-column: 1 / -1;
  }

  main {
    grid-column: 4 / -1;
    background-color: red;
  }

  footer {
    grid-column: 1 / -1;
    background-color: yellow;
  }

  aside {
    display: block;
    background-color: green;
    grid-column: 1 / span 3;
  }

  nav:after {
    content: ' -> 480px (tablet)';
  }
}

@media screen and (min-width: 769px) {
  header {
    grid-column: 1 / -1;
  }

  main {
    grid-column: 4 / -1;
    background-color: red;
  }

  footer {
    grid-column: 1 / -1;
    background-color: yellow;
  }

  aside {
    display: block;
    background-color: green;
    grid-column: 1 / 4;
  }
  nav:after {
    content: ' -> 769px (Desktop)';
  }
}
