* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgba(5, 5, 5, 0.5);
}

header > nav {
  height: 100%;
  display: flex;
}

header > nav > div:nth-child(2) {
  background-color: yellow;
  margin-left: auto;
}

.menu-item {
  align-self: center;
  background-color: brown;
  flex-basis: 100px;
  text-align: center;
}

.logo {
  width: 100%;
}

.container {
  height: 100%;
  display: grid;
  grid-template: 50px auto 50px / repeat(12, 1fr);
  /* grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 2% auto 2%; */
  grid-gap: 0.5rem;
  /* grid-template-areas:
    "h h h h h h h h h h h h"
    "m m c c c c c c c c c c"
    "f f f f f f f f f f f f"; */
}

header {
  grid-column: 1 / -1;
  /* grid-area: h; */
  background-color: blue;
}

main {
  grid-column: 1 / -1;
  background-color: red;
}

footer {
  grid-column: 1 / -1;
  background-color: yellow;
}

aside {
  display: none;
}

.stayduration {
  display: flex;
  flex-direction: column;
}


@media screen and (min-width: 481px) {
  header {
    grid-column: 1 / -1;
  }

  main {
    grid-column: 4 / -1;
    background-color: red;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
  }

  main > div {
    margin: 10px 0;
  }

  footer {
    grid-column: 1 / -1;
    background-color: yellow;
  }

  aside {
    display: block;
    background-color: green;
    grid-column: 1 / span 3;
  }

  .form-line {
    display: flex;
    margin: 10px 2px;
    flex-direction: row;
  }

  .form-line > label{
    flex: 0 0 100px;
  }

  .form-line > input {
    flex: 1 0 0;
  }

  .stayduration {
    display: flex;
    flex-direction: row;
  }

  .stayduration > div:nth-child(2) {
    margin-left: 50px;
  }
}

@media screen and (min-width: 769px) {
  header {
    grid-column: 1 / -1;
  }

  main {
    grid-column: 4 / -1;
    background-color: red;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
  }

  main > div {
    margin: 10px 0;
  }

  footer {
    grid-column: 1 / -1;
    background-color: yellow;
  }

  aside {
    display: block;
    background-color: green;
    grid-column: 1 / 4;
  }

  .stayduration {
    display: flex;
    flex-direction: row;
  }

  .stayduration > div:nth-child(2) {
    margin-left: 50px;
  }
}
